<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
    <h1>Mataganov Vladislav</h1>
<div class='well'>
  <h2>Add a inhaalexamen</h2>
  <br/><br/>
  <form action='/' method='POST'>
   <table>
     <tr><td>opnameplaats straat :  </td><td><input type='text' name='straat'></td></tr>
     <tr><td>aantal overtredingen snelheid : </td><td><input type='text' name='snelheid'></td></tr>
    </td></tr>
     <tr><td><button type='submit'>Add</button></td></tr>
   </table>
  </form>
</div>
</body>
</html>